<h1>Restaurants:</h1>

<ul class="list-group">
<% @restaurants.each do |r| %>
  <li class="list-group-item"><%= link_to r.name, restaurant_path(r) %></li>
<% end %>
</ul>

<%= link_to 'add restaurant', new_restaurant_path %>
