<h1>Reviews:</h1>

<ul>
<% @reviews.each do |r| %>
  <li class="card"><%= r.content %> (Rating: <%= r.rating %>)</li>
<% end %>
</ul>


<%= link_to 'Back to Restaurant', restaurant_path(@restaurant) %>
