<h1>Reviews:</h1>

<ul class="list-group">
<% @reviews.each do |r| %>
  <li class="list-group-item"><%= r.content %> (Rating: <%= r.rating %>)</li>
<% end %>
</ul>


<%= link_to 'Back to Restaurant', restaurant_path(@restaurant) %>
